replicaCount: 1

image:
  repository: ""
  tag: ""
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 80

resources: {}

livenessProbe:
  httpGet:
    path: /
    port: http
  timeoutSeconds: 5
readinessProbe:
  httpGet:
    path: /
    port: http
  timeoutSeconds: 5

ingressHostName: metadata-service

tripleStoreAddress:
  url: jena-fuseki
  port: 3030
  datasetName: slice

keepGraphs:
  timeWindowMilliseconds: 21600000
  intervalToCheckInSeconds: 600
